@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

html,body{
  width:100%;
  height:100%;
}

html{
  background:radial-gradient(white,green);
}

body{
  background:transparent;
}

body,button{
  font-family: 'Indie Flower', cursive;
  font-size:2rem;
  font-weight:900;
}

button{
  background-color: orange;
  padding:1rem;
  border:solid 5px black;
  border-radius: 5px;
}

p{
  font-weight:900;
  font-size:2rem;
}

#timerDisplay{
  font-weight: 900;
}

button{
  cursor:pointer;
}

button,input{
  box-sizing: border-box;
}

#userInputBox{
  border:solid 5px black;
  padding:1rem;
  font-size:2rem;
  font-family: 'Indie Flower', cursive;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}